@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .center {
    @apply h-screen flex flex-col justify-center items-center;
  }

  .logo {
    @apply inline w-36 h-36 bg-white rounded-full p-3 object-scale-down;
  }

  .content-item {
    @apply inline-block text-lg;
  }
}

.number {
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  color: black;
  margin: 0 auto 1rem;
}

.heading {
  clip-path: polygon(50% 100%, 100% 50%, 100% 0, 0 0, 0 50%);
}
