@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .center {
    @apply h-screen flex flex-col justify-center items-center;
  }

  .logo {
    @apply inline w-36 h-36 bg-white bg-opacity-50 rounded-full p-3 object-scale-down;
  }

  .box {
    @apply inline-flex items-center p-6;
  }

  .number {
    @apply text-7xl mr-3 font-semibold;
  }

  .subtitle {
    @apply flex flex-col items-center;
  }
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.img-rounded {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.black-glassmorphism {
  background: rgba(0, 0, 0, 0.22);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.list li:not(:last-child) {
  margin-bottom: 1.5rem;
}

.list li {
  text-align: justify;
}
